[submodule "nvim/pack/colorscheme/start/vim-colors-pencil"]
	path = nvim/pack/colorscheme/start/vim-colors-pencil
	url = https://github.com/reedes/vim-colors-pencil
[submodule "nvim/pack/colorscheme/start/spacemacs-theme.vim"]
	path = nvim/pack/colorscheme/start/spacemacs-theme.vim
	url = https://github.com/colepeters/spacemacs-theme.vim
[submodule "nvim/pack/autocomplete/start/deoplete.nvim"]
	path = nvim/pack/autocomplete/start/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim
[submodule "nvim/pack/autocomplete/start/neco-ghc"]
	path = nvim/pack/autocomplete/start/neco-ghc
	url = https://github.com/eagletmt/neco-ghc
[submodule "nvim/pack/syntax/start/haskell-vim"]
	path = nvim/pack/syntax/start/haskell-vim
	url = https://github.com/neovimhaskell/haskell-vim
[submodule "nvim/pack/autocomplete/start/deoplete-clang"]
	path = nvim/pack/autocomplete/start/deoplete-clang
	url = https://github.com/zchee/deoplete-clang
[submodule "nvim/pack/utils/start/vim-pandoc"]
	path = nvim/pack/utils/start/vim-pandoc
	url = https://github.com/vim-pandoc/vim-pandoc
[submodule "nvim/pack/syntax/start/vim-pandoc-syntax"]
	path = nvim/pack/syntax/start/vim-pandoc-syntax
	url = https://github.com/vim-pandoc/vim-pandoc-syntax
[submodule "nvim/pack/autocomplete/start/deoplete-rust"]
	path = nvim/pack/autocomplete/start/deoplete-rust
	url = https://github.com/sebastianmarkow/deoplete-rust
[submodule "nvim/pack/syntax/start/vim-toml"]
	path = nvim/pack/syntax/start/vim-toml
	url = https://github.com/cespare/vim-toml
[submodule "nvim/pack/syntax/start/vim-mustache-handlebars"]
	path = nvim/pack/syntax/start/vim-mustache-handlebars
	url = https://github.com/mustache/vim-mustache-handlebars
